<div id="reset-password" fxLayout="column">

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="reset-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img [src]="_authService.userImageUrl">
            </div>

            <div class="greetings">Hola {{ _authService.user.name }}</div>
            <div *ngIf="!changePasswordRequired" class="title">Ingresa tus nuevas credenciales</div>
            <div *ngIf="changePasswordRequired" class="title">El sistema requiere un cambio de contraseña. Ingresa tus nuevas credenciales</div>


            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Contraseña Actual</mat-label>
                    <input matInput type="password" formControlName="actualPassword">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Indique su Contraseña Actual
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Nueva Contraseña</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Se requiere una nueva contraseña
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirme Contraseña</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                        Debe confirmar su contraseña
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required') &&
                                       resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        Contraseñas no coinciden
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent" aria-label="RESET MY PASSWORD" [disabled]="resetPasswordForm.invalid || sending" (click)="onChange()">
                CAMBIAR CONTRASEÑA
                </button>
            </form>

            <div *ngIf="!changePasswordRequired" class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/apps/dashboards/main'">Ir al Home</a>
            </div>
            <div *ngIf="changePasswordRequired" class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/access/login'">Ir al Login</a>
            </div>

        </div>

    </div>

</div>