<h1 matDialogTitle>Confirmación</h1>
<div mat-dialog-content style="white-space: pre-line;">{{confirmMessage}}</div>

<div style="margin-top:20px" *ngIf="includeComment">
    <form [formGroup]="recordForm">
        <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field appearance="outline" fxFlex style="width:300px">
                <mat-label>Comentario</mat-label>
                <mat-icon matSuffix class="secondary-text">text_format</mat-icon>
                <textarea name="comments"  matInput  id="comments" formControlName="comments"></textarea>
            </mat-form-field>
        </div>
    </form>
</div>

<div mat-dialog-actions style="display:flex;flex-direction: row-reverse;"> 
    <button *ngIf="includeComment" mat-raised-button class="mat-accent mr-16"  (click)="dialogRef.close([true,recordForm.getRawValue()])" [disabled]="recordForm.invalid">Confirmar</button>
    <button *ngIf="!includeComment" mat-raised-button class="mat-accent mr-16" (click)="dialogRef.close([true,false])">Confirmar</button>
    <button mat-button (click)="dialogRef.close([false,false])">Cancelar</button>
</div>